<!--{% load static %}-->

<!DOCTYPE html>
<html>
<head>
    <title>Nirmal Yogi</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <nav class="sticky-navbar">
        <a href="#home">Home</a>
        <a href="{% url 'register' %}">Register</a>
        <a href="#contact">Contact Us</a>
    </nav>

<script>
	alert("Welcome to our world, Yogis!")
</script>


<p id="home">   </p><br><br>
	<h1>NIRMAL YOGI: ONLINE YOGA CLASSES</h1>

	<p id="subhead"><i><b>Balance. Breathe. Begin. </b></i></font></p>

	<img src="https://png.pngtree.com/png-clipart/20240321/original/pngtree-yoga-symbol-color-png-image_14650634.png"  align="right"    alt="Yoga&Meditation"    width="400" height="400">

	<p><br><br><b>A PRIME DESTINATION TO BETTER YOUR LIFESTYLE<BR><BR>
		EMBARK ON AN INSPIRING JOURNEY OF GROWTH AND HEALING<BR><BR>
		SIT BACK, RELAX, AND BROWSE. . .</b><br><br><br><br><br><br></p>
	
	<p  id="demo">***</p><br>


            <section>
		<b><i>"Perfect for All Levels!"</b></i><br>
"I love how this site caters to all levels. As a beginner, I appreciate the clear instructions and the ability to filter classes by difficulty. It’s helped me build confidence and improve my practice."<br>
<i>~sunaina_rajput</i><br><br>

<b><i>"Excellent Instructors"</b></i><br>
"The teachers are all so knowledgeable and encouraging. They offer clear guidance and modifications, which makes learning easy and fun."
<i>~kabir1234</i><br><br>

<b><i>"Convenient and Easy to Use"</b></i><br>
"The app is super easy to navigate, and I love that I can practice yoga anytime, anywhere. It's perfect for my busy lifestyle!"
<i>~ajit_kashyap15</i><br><br>

<b><i>"Love the Guided Meditation"</b></i><br>
"Not only does this site offer amazing yoga classes, but the meditation sessions are fantastic. It’s a full mind-body experience."
<i>~sunaina_rajput</i><br><br>

<b><i>"Great Value for the Price"</b></i><br>
"I’ve tried a few other platforms, but this one offers the best value. Affordable subscription with tons of quality classes. Totally worth it."
<i>~sunaina_rajput</i><br><br>

<b><i>"Customized to Fit My Needs"</b></i><br>
"I love that I can filter by duration, focus, and skill level. It’s great for finding exactly what I need depending on my mood or how much time I have."
<i>~sunaina_rajput</i><br><br>

        </section>

        <section id="contact">
            <h2>CONTACT US</h2>
            <p>Phone: 9923876670<br>

		Name: Bhavya And Pranavi<br>

		Email: info@nirmalyogi.com<br>
	</p>
        </section>

    </main>

    <footer>
        <p>&copy; 2024 Nirmal Yogi. All rights reserved.</p>
    </footer>

</body>
</html>

