body {
    font-family: Arial, sans-serif;
    background-color: #f9e07e;
    color: maroon;
    text-align: center;
}

.sticky-navbar {
    position: sticky;
    top: 0;
    background-color: goldenrod;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    z-index: 1000;
}

p{
	text-align: center;
	font-size: 25px;
	color: maroon;
	 text-shadow: 3px 0px 4px gold;

}

h1
{
	color: #400000;
	text-shadow: 4px 2px 3px white;
	font-size: 65px;
	text-align: center;
	 font-weight: bold;
}

label
{
	color: #400000;
	font-weight: bold;
	font-size: 25px;
}

input, select, textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.1s;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover {
    color: white;
    background-color: maroon;
    padding: 5px 10px;
    border-radius: 5px;
}

button {
    padding: 10px;
    background: #800000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.1s;
}

button:hover {
    background: #c70505;
}