<!-- HTML -->

<!DOCTYPE html>
<html>
<head>
    <title>Nirmal Yogi</title>
    <link rel="stylesheet" href="CSS.css">
</head>

<body>

<script>
	alert("Welcome to our world, Yogis!")
	function alertmsg(){
		alert("Thank you for booking our online demo class!\nFind more details regarding it in your email.")
	}
</script>

    <header class="sticky-navbar">

        <nav>
         <ul>
                <li id="one"><a href="#home" >Home</a></li>

                <li class="dropdown"  id="two"><a href="#">About</a>
			<ul class="dropdown-content">
				<li><a href="#"><u>Our Aim</u></a></li><br>
				<li><a href="#"><u>Healing Stories</u></a></li><br>
				<li><a href="#"><u>Yoga</u></a></li><br>
			</ul>
		</li>

                <li id="three"><a href="#instructors">Know Your Instructors</a></li>


                <li class="dropdown"	id="four"><a href="#booking">Booking</a>
			<ul class="dropdown-content">
				<li><a href="#demo"><u>Demo Session</u></a></li><br>
				<li><a href=""><u>Subscription</u></a></li>
			</ul>
		</li>

                <li class="dropdown"   id="five"><a href="#resources">Resources</a>
			<ul class="dropdown-content">
				<li><a href="#"><u>Blogs</u></a></li><br>
				<li><a href="#"><u>Videos</u></a></li>
			</ul>
		</li>

                <li  id="six"><a href="#contact">Contact Us</a></li>

		<li   id="seven"><a href="#signin">Sign-In</a></li>

            </ul>
        </nav>

    </header>

<main>

	<p id="home">   </p><br><br>
	<h1>NIRMAL YOGI: ONLINE YOGA CLASSES</h1>

	<p id="subhead"><i><b>Balance. Breathe. Begin. </b></i></font></p>

	<img src="https://png.pngtree.com/png-clipart/20240321/original/pngtree-yoga-symbol-color-png-image_14650634.png"  align="right"    alt="Yoga&Meditation"    width="400" height="400">

	<p><br><br><b>A PRIME DESTINATION TO BETTER YOUR LIFESTYLE<BR><BR>
		EMBARK ON AN INSPIRING JOURNEY OF GROWTH AND HEALING<BR><BR>
		SIT BACK, RELAX, AND BROWSE. . .</b><br><br><br><br><br><br></p>
	
	<p  id="demo">***</p><br>


            <section><h2><b>Book your free online demo class today!</b></h2>
            <form id="demoForm">
                <input type="text" placeholder="Your Name" required>
                <input type="email" placeholder="Your Email" required>
		<input type="text" name="country code" placeholder="Country Code"  value="+91 " size="2"/required>   
		<input type="text" name="contact" placeholder="Your Contact No."  size="10"/required>
                <button type="submit"	onclick= "alertmsg()">Book Free Session</button>
            </form>
        </section>

        <section id="contact">
            <h2>CONTACT US</h2>
            <p>Phone: 123-456-7890<br>

		Address: 123 Yoga Lane, Wellness City, XY 12345<br>

		Email: info@nirmalyogi.com<br>
	</p>
        </section>

    </main>

    <footer>
        <p>&copy; 2024 Nirmal Yogi. All rights reserved.</p>
    </footer>



</body>
</html>

